@import './global.scss';

#page-auth {
  display: flex;
  align-items: strech;
  height: 100vh;

  aside {
    flex: 7;
    
    background: $light-purple;
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p{
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: $light-white;
    }
  }

  main {
    flex: 8;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

  }
}