@import "./global.scss";

#page-auth {
  display: flex;
  align-items: strech;
  height: 100vh;

  aside {
    flex: 7;

    background: $light-purple;
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem "Poppins", sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: $light-white;
    }
  }

  main {
    flex: 8;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: strech;
    text-align: center;
  
    > img {
      align-self: center;
    }

    h2 {
      font-size: 1.5rem;
      margin: 4rem 0 1.5rem;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 3.125rem;
        border-radius: .5rem;
        padding: 0 1rem;
        background: $white;
        border: .0625rem solid #a8a8b3;
      }

      button {
        margin-top: 1rem;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: .875rem;
      color: $gray;
      margin-top: 1rem;
    }

    a{ 
      color: $pink;
    }
  }

  .create-room {
    margin-top: 4rem;
    height: 3.125rem;
    border-radius: 8px;
    font-weight: 500;
    background-color: $middle-red;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    border: 0;

    transition: filter .2s;

    img {
      margin-right: .5rem;
    }

    &:hover {
      filter: brightness(0.90);
    }
  }

  .separator {
    font-size: .875rem;
    color: $middle-gray;

    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before, 
    &::after {
      content: '';
      flex: 1;
      height: .0625rem;
      background-color: $middle-gray;
    }

    &::before {
      margin-right: 1rem;
    }

    &::after {
      margin-left: 1rem;
    }
  }


}


