$light-gray: #f8f8f8;
$middle-gray: #a8a8b3;
$black-text: #29292e;
$light-purple: #835afd;
$white: #FFF;
$light-white: #f8f8f8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $light-gray;
  color: $black-text;
}

body, input, button, textarea {
  font: 400 1rem 'Roboto', sans-serif;
}